* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.content-wrapper {
  text-align: center;
}

#pokemon-type-filter {
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
  gap: 1rem;
}
#pokemon-search-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.pokemon_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border:2px solid red; */
  margin-top: 10px;
}
.card_conatiner {
  position: relative;
  height: 330px;
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  /* margin-top: 1rem; */
  transition: 0.6s linear;
  transform-style: preserve-3d;
}
.front_card {
  position: absolute;
}
.front_card,.backcard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
}
.backcard {
  /* background-color: aqua; */
  transform: rotateY(180deg);
  /* display:none; */

}
img {
  width: 100px;
}

.number {
  background-color: #F6F6F6;
  width: 100%;
  text-align: center;
}
.outer_card_container:hover .card_conatiner{
    transform: rotateY(180deg);
    
}
#grass{
 background-color: #A0CF59;
}
#fire{
  background-color: #FD842F;
}
#water{
  background-color: #4E98C7;
}
#bug{
  background-color: #79A449;
}
#normal{
  background-color: #BFBFBF;
}
#poison{
  background-color: #BD86CC;
}
#electric{
  background-color: #EFD73F;
}
#ground{
  background-color: #F7E049;
}
#fairy{
  background-color: #FDBDEA;
}
#fighting{
  background-color: #4E98C7;
}
#psychic{
  background-color: #F46EBD;
}
#rock{
  background-color: #A8922C;
}
#ghost{
  background-color: #826AA8;
}
#ice{
  background-color: #5AC7E8;
}
#dragon{
  background-color: #DCAA2B;
}